@media (min-width: 768px) {
    .site-header {
        padding: 16px 64px;
    }

    .hero {
        padding: 130px 33px 80px;
    }

    .hero__title {
        max-width: 500px;
    }

    .hero__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero__subtitle {
        max-width: 700px;
    }

    .hero__buttons {
        display: flex;
        flex-direction: row;
        width: auto;
    }

    .hero__button {
        width: auto;
    }

    .common-searches {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 0 64px 80px;
    }

    .common-searches__item {
        width: 100%;
        max-width: 222px;
    }

    .common-searches__button {
        width: auto;
    }

    .common-searches__button-icon {
        margin-left: 22px;
    }

    .testimonial {
        padding: 40px 64px 120px;
    }

    .testimonial__content {
        max-width: 700px;
    }

    .features__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .features__bg-left {
        top: 0;
        left: 0;
        width: 150%;
        height: 100%;
    }

    .features__bg-right {
        bottom: -40%;
    }

    .features__item {
        max-width: 340px;
    }

    .features__button {
        width: auto;
    }

    .features__button-icon {
        margin-left: 22px;
    }

    .about {
        padding: 80px 64px 80px;
    }

    .splide {
        padding: 80px 64px 160px;
    }

    .faq {
        padding: 80px 64px 80px;
    }

    .faq__title {
        justify-content: flex-start;
    }

    .faq__content {
        flex-direction: row;
        align-items: flex-start;
    }

    .faq__image {
        margin-right: 24px;
    }

    .faq__item {
        cursor: pointer;
    }

    .cta {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 80px 64px;
    }

    .cta__title {
        max-width: 524px;
    }

    .cta__text {
        max-width: 524px;
    }

    .cta__buttons {
        flex-direction: row;
        width: auto;
    }

    .cta__button {
        width: auto;
        padding: 36px 48px;
    }

    .site-footer__bg {
        bottom: -10%;

    }

    .site-footer {
        padding: 40px 64px;
    }

    .site-footer__top {
        flex-direction: row;
        align-items: flex-start;
        gap: 58px;

        padding: 0 24px 48px;
    }

    .site-footer__container {
        padding: 48px 0 32px 0;
    }

    .site-footer__links {
        gap: 41px;
    }

    .site-footer__info {
        max-width: 50%;
    }

    .site-footer__bottom {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        width: 100%;

        padding: 24px 34px 0;

    }

    .site-footer__copyright {
        display: block;
        flex-direction: row;
        align-items: flex-start;

        font-size: 14px;
        text-align: left;

        margin: 0;
    }
}